{% extends "main/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Book depository</h1>
            <p>Deciding what to read next?
            You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Sign Up</a>
        </div>
    </div>

{% endblock %}